{% extends 'base.html' %} {% block title %}Calificar Tarea{% endblock %} {%
block content %}
<h2>Calificar: {{ tarea.titulo }}</h2>
<form method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.texto_calificado.label }}<br />
    {{ form.texto_calificado(rows=4, cols=40) }} {% for err in
    form.texto_calificado.errors %}<span class="error">{{ err }}</span>{% endfor
    %}
  </p>
  <p>
    {{ form.puntuacion_calificado.label }}<br />
    {{ form.puntuacion_calificado() }} {% for err in
    form.puntuacion_calificado.errors %}<span class="error">{{ err }}</span>{%
    endfor %}
  </p>
  <p>
    {{ form.fecha_calificado.label }}<br />
    {{ form.fecha_calificado() }} {% for err in form.fecha_calificado.errors
    %}<span class="error">{{ err }}</span>{% endfor %}
  </p>
  <p>{{ form.submit(class="btn") }}</p>
</form>
{% endblock %}
