<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{% block title %}TaskGenie{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    {# Solo mostramos la nav si NO estamos en login o registro #} {% if
    request.endpoint not in ['auth.login', 'auth.registro'] %}
    <header>
      <nav>
        {% if not current_user.is_authenticated %}
        <a href="{{ url_for('auth.login') }}">Ingresar</a>

        {% elif current_user.rol.name == 'ADMIN' %}
        <a href="{{ url_for('perfil.index') }}">Mi Perfil</a>
        <a href="{{ url_for('admin.dashboard') }}">Panel Admin</a>
        <a href="{{ url_for('auth.logout') }}">Cerrar Sesión</a>

        {% elif current_user.rol.name in ['PROFESOR', 'ALUMNO'] %}
        <a href="{{ url_for('tareas.listado') }}">Mis Tareas</a>
        <a href="{{ url_for('perfil.index') }}">Mi Perfil</a>
        <a href="{{ url_for('auth.logout') }}">Cerrar Sesión</a>
        {% endif %}
      </nav>
    </header>
    {% endif %}

    <main>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <ul class="flashes">
        {% for cat, msg in messages %}
        <li class="{{ cat }}">{{ msg }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %} {% block content %}{% endblock %}
    </main>

    <footer>
      <p>&copy; 2025 TaskGenie</p>
    </footer>
  </body>
</html>
